.hero_section_wrapper {
  position: relative;
  @include flexCenterAlignment;
  overflow: hidden;
  .slider_image_wrapper {
    position: relative;
    // height: 100vh;
    height: 900px;
    width: 100%;
    .slider_image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .slide_content_wrapper {
      position: absolute;
      inset: 0;
      @include flexCenterAlignment;
      justify-content: flex-start;
      background: linear-gradient(
        180deg,
        rgba(27, 112, 111, 0.9) 6%,
        rgba(27, 112, 111, 0.8) 64%
      );
      z-index: 1;
      .container-xl {
        @include flexStartAlignment;
        .slide_desc_content_wrapper {
          margin-bottom: 70px;
          width: 50%;
          .subtitle {
            margin: 0;
            font-size: 30px;
            color: #1B706F;
            font-weight: bold;
          }
          .slide_title {
            margin: 0;
            padding-block: 25px;
            font-size: 35px;
            color: var(--white_clr);
          }
          .slide_desc {
            padding-top: 30px;
            @include textWrapper;
            font-size: 18px;
            font-family: $light_font;
            color: var(--white_clr);
            border-top: 1px solid #1B706F;
          }
          .slide_buttons_wrapper {
            .start_now_btn {
              @include simpleButtonStyle;
              width: 250px;
              background-image: linear-gradient(
                90deg,
                transparent 50%,
                var(--secondary_theme_clr) 50%
              );
              border: 1px solid var(--secondary_theme_clr);
              font-family: $regular_font;
              font-size: 18px;
              padding-block: 15px;
              &:hover {
                color: var(--secondary_theme_clr);
              }
            }
          }
        }
      }
    }
  }
  .mobile_mockup_wrapper {
    position: absolute;
    top: 12%;
    right: 15%;
    z-index: 6;
    @include flexCenterAlignment;
    height: 80%;
    img {
      width: auto;
      height: 85%;
    }
  }
}

@media (max-width: 850px) {
  .hero_section_wrapper {
    .slider_image_wrapper {
      height: 350px;
      .slide_content_wrapper {
        @include flexCenterAlignment;
        .container-xl {
          @include flexCenterAlignment;
          .slide_desc_content_wrapper {
            margin-block: 50px 20px;
            max-width: 100%;
            .subtitle {
              margin: 0;
              font-size: 18px;
              text-align: center;
            }
            .slide_title {
              padding-block: 10px;
              font-size: 20px;
              text-align: center;
            }
            .slide_desc {
              padding-top: 0;
              font-size: 13px;
              border-top: none;
              text-align: center;
            }
            .slide_buttons_wrapper {
              @include flexCenterAlignment;
              .start_now_btn {
                width: max-content;
                font-size: 15px;
                margin-top: 15px;
                padding-block: 10px;
              }
            }
          }
        }
      }
    }
    .mobile_mockup_wrapper {
      display: none;
    }
  }
}

@media (max-width: 1024px) {
  .hero_section_wrapper {
    .section_shape {
      img {
        width: 105% !important;
      }
    }
  }
}

.hero_section_wrapper {
  background-image: url(../media/images/slider/banner1.png);
  background-position: center;
  background-size: cover;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    // background-color: rgba(21, 50, 82, 0.85);
  }
}

.hero_section_wrapper
  .owl-carousel
  .owl-stage-outer
  .owl-stage
  .owl-item
  .slider_image_wrapper
  .slide_content_wrapper {
  background-color: transparent;
}

@media (max-width: 575px) {
  .hero_section_wrapper
    .slider_image_wrapper
    .slide_content_wrapper
    .container-xl
    .slide_desc_content_wrapper {
    width: 100%;
  }
}
